name: Build wheels

on:
  pull_request:
  push:
    tags:
      - "v*"

jobs:
  # Build the source distribution for PyPI
  build_sdist:
    name: Build sdist
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.12"

      - name: Build sdist
        run: |
          python3.12 -m pip install --upgrade setuptools wheel
          python3.12 setup.py sdist

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: sdist
          path: dist/*.tar.gz

  # Build binary distributions for PyPI
  build_wheels:
    name: Build on ${{ matrix.os }} for ${{matrix.cibw_python}} ${{matrix.cibw_arch}}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # Windows isn't working right now: https://github.com/caketop/python-starlark-go/issues/4
        os: [ubuntu-latest, macos-latest]
        cibw_python: ["cp310", "cp311", "cp312", "cp313", "cp314", "cp315"]
        cibw_arch: ["i686", "x86_64", "aarch64", "arm64"]
        include:
          - cibw_arch: arm64
            goarch: arm64
          - cibw_arch: aarch64
            goarch: arm64
          - cibw_arch: x86_64
            goarch: amd64
        exclude:
          - os: ubuntu-latest
            cibw_arch: arm64
          - os: macos-latest
            cibw_arch: i686
          - os: macos-latest
            cibw_arch: aarch64

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: 'stable'
        if: runner.os != 'Linux'

      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Build wheels
        uses: pypa/cibuildwheel@faf86a6ed7efa889faf6996aa23820831055001a # v2.23.3
        env:
          CIBW_BUILD_VERBOSITY: 1
          CIBW_BUILD: ${{ matrix.cibw_python }}-*
          CIBW_ARCHS: ${{ matrix.cibw_arch }}
          GOARCH: ${{ matrix.goarch }}
          CGO_ENABLED: 1

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: wheel-${{matrix.cibw_python}}-${{ matrix.os }}--${{matrix.cibw_arch}}
          path: wheelhouse/starlark_go-*.whl

  # Create a GitHub release
  github_release:
    name: Create GitHub release
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: sdist
          path: dist

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: wheel-*
          path: dist
          merge-multiple: true

      - name: "✏️ Generate release changelog"
        id: changelog
        uses: janheinrichmerker/action-github-changelog-generator@e60b5a2bd9fcd88dadf6345ff8327863fb8b490f # v2.4
        with:
          filterByMilestone: false
          onlyLastTag: true
          pullRequests: true
          prWoLabels: true
          token: ${{ secrets.GITHUB_TOKEN }}
          verbose: true
          # Have to use a file because using action outputs is broken in 2.4
          # See https://github.com/janheinrichmerker/action-github-changelog-generator/issues/44
          output: generated_changelog.md

      - name: Create GitHub release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          body_path: generated_changelog.md
          files: dist/**/*

  # Test PyPI
  test_pypi_publish:
    name: Test publishing to PyPI
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: sdist
          path: dist

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: wheel-*
          path: dist
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          user: __token__
          password: ${{ secrets.TEST_PYPI_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
          skip_existing: true

  # Publish to PyPI
  pypi_publish:
    name: Publish to PyPI
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: sdist
          path: dist

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: wheel-*
          path: dist
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
