name: Test

on:
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11', '3.12']
        experimental: [false]
        include:
          - python-version: '3.13-dev'
            # sets continue-on-error automatically
            experimental: true

    name: Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0

      - name: Setup python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip wheel
            python -m pip install tox tox-gh-actions

      - name: Test with tox
        run: |
          export PYTHONFAULTHANDLER=1
          tox
