name: Valgrind

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    name: Valgrind
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0

      - name: Setup python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.10"
          architecture: x64

      - name: Install valgrind
        run: |
          sudo apt-get update
          DEBIAN_FRONTEND=noninteractive sudo apt-get install valgrind

      - name: Run valgrind
        run: ./scripts/pytest-valgrind.sh
