name: Valgrind

on:
  workflow_dispatch:

permissions: {}

jobs:
  build:

    runs-on: ubuntu-latest

    name: Valgrind
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0

      - name: Setup python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.10"
          architecture: x64

      - name: Install valgrind
        run: |
          sudo apt-get update
          DEBIAN_FRONTEND=noninteractive sudo apt-get install valgrind

      - name: Run valgrind
        run: ./scripts/pytest-valgrind.sh
